@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: white
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.syne-font {
  font-family: 'Syne', sans-serif; 
}

.no-scroll {
  overflow: hidden;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
